---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="Tailcast">
  <Navbar client:load />
  

   <div class="container mx-auto p-4">
   <h1 class="text-3xl font-bold mb-8">Custom Patches in Los Angeles</h1>
        <div class="mb-8">
            <div class="relative float-left w-1/3 max-w-xs mr-6 mb-4">
                <div class="overflow-hidden rounded-md shadow-md">
                    <img src="/content/custom-embroidery-on-denim-los-angeles.webp" alt="Custom embroidery example" class="w-full">
                </div>
                <div class="bg-white text-center py-2 text-sm font-semibold border-t border-gray-300">Custom Embroidery on Denim</div>
            </div>
            <p>Weather you are a fashion brand, celebrity, or a company, E&R Unlimited is your shop for high quality custom patches. Located in Los Angeles, our searvise reach extends to many other areas.</p>
            
            <h2 class="text-2xl font-bold mb-4">Why Custom Patches Are Popular</h2>
            <p>We live in the world of fast fashion and mass produced grament where consumers are embracing new ways to stand out. The beauty of custom patches is in their relatively low production cost. This allows designers to experiment with new ideas without a huge monetary risk.</p>
            <p>Designers and artists alike are tapping into popularity of patches and finding great success in attempts to add personla touch, to stand out, and to increase value of their apparel. In turn, this has allowed consumers to add unique styles to their outfits.</p>
            <p>At E&R Unlimited you will get quick turnaround time, highest quality, best color matching, and high volume production!</p>
            
            <ul><li>We specialize in producing custom high fashion embroidery patches, uniform patches, custom 3D embroidery patches, and custom logo embroidery patches.</li>
<li>Our quick turn time doesn’t sacrifice quality as we often test and edit the embroidery file if necessary prior to stitching out your order.</li>
<li>We use the latest camera detection laser cutting machine to cut the exact shape of the patch desired and then embroider it using high quality threads available in a wide variety of colors.</li>
<li>Our high volume machines are designed to save you time and money while giving you the best quality.</li>
<li>We can produce custom patches in high volumes. Our current maximum capacity is 5000 patches/day.</li>
<li>We carry a variety of blank shirts, hats, and accessories which we can attach the patches to, or we can also stitch the patches onto your blanks.</li></ul>
            
            
            <h2 class="text-2xl font-bold mb-4">2. Unique and proprietary photographic embroidery technique.</h2>
            <p>This technique creates millions of colors and halftones not possible with regular embroidery. It is especially effective for converting colorful logos and photographic images into embroidery.</p>
        </div>
        <div class="mb-8">
            <div class="relative float-right w-1/3 max-w-xs ml-6 mb-4">
                <div class="overflow-hidden rounded-md shadow-md">
                    <img src="/content/custom-photographic-embroidery-los-angeles.webp" alt="Branded embroidery example" class="w-full">
                </div>
                <div class="bg-white text-center py-2 text-sm font-semibold border-t border-gray-300">Photographic Embroidery</div>
            </div>
            <h2 class="text-2xl font-bold mb-4">3. High quality, best color matching, and quick turnaround.</h2>
            <p>We carefully attend to each customer to produce the best results in a timely manner.</p>
            <h2 class="text-2xl font-bold mb-4">4. Unlimited potential.</h2>
            <p>We provide embroidery, photographic embroidery, digital sublimation printing, laser cutting, screen printing, DTG, & heat transfer services. All these can be combined or used separately to create amazing results! We can create 3D puff embroidery, as well as sequins embroidery, velvet stitch embroidery, embroidery with metallic threads and specialty threads, custom patches with clean satin stitch borders, and more.</p>
        </div>
        <div class="mb-8">
            <div class="relative float-left w-1/3 max-w-xs mr-6 mb-4">
                <div class="overflow-hidden rounded-md shadow-md">
                    <img src="/content/custom-embroidery-in-los-angeles.webp" alt="Unique embroidery design" class="w-full">
                </div>
                <div class="bg-white text-center py-2 text-sm font-semibold border-t border-gray-300">Unique Embroidery Design</div>
            </div>
            <h2 class="text-2xl font-bold mb-4">5. Custom embroidery services with high volume production & wholesale.</h2>
            <p class="text-gray-700">Anything at E&R can be done on a large scale. Embroidery logo on hats or constructed garments: max. output 2600 caps/day – Embroidery on flat goods or patches: max. output 5000 pcs/day – Manual Screen Printing capacity: 500 pcs/day – Automatic Screen Printing Capacity: 5000 pcs/day – Digital Sublimation Printing: 400 yards max daily capacity (or the equivalent in cut pieces) – Rotary Printing Pigment or Wet (on cotton fabrics): 4000 yards/day – Laser Cutting: 2 new laser heads capable of cutting up to 1000 patches/hour.</p>
        </div>
        <div class="clear-both"></div>
    </div>


  <Footer />
  <ScrollUpButton client:load />
</Layout>
