---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { StitchingAnimation } from '../components/StitchingAnimation.jsx'
import { Logos } from '../components/Logos.jsx'



import { FAQ } from '../components/FAQ.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton'
import '../styles/Theme.css'
import '../styles/Diagonals.css'

---

<Layout title="Tailcast">
  <Navbar client:load />
  <StitchingAnimation client:load />
  <Logos client:load /> 
   <div class="tiledBackground5">
        <div id="price-list"></div>
        <div class="maintext problems">
            <div class="problems-item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
            </div>
            <div class="problems-item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
            </div>
        </div>
  <FAQ client:load /> 
  <Footer />
  <ScrollUpButton client:load />
</Layout>
