---
import Layout from '../layouts/Layout.astro'
import { StitchingAnimation } from '../components/StitchingAnimation.jsx'
import { Navbar } from '../components/Navbar.jsx'
import { Logos } from '../components/Logos.jsx'
import { Testimonials } from '../components/Testimonials.jsx'
import { Gallery3 } from '../components/Gallery3.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
import '../styles/Theme.css'
import '../styles/Diagonals.css'
---

<Layout title="Tailcast">
  <Navbar client:load />
  <StitchingAnimation client:load />
    <Logos client:load /> 
  <Testimonials client:load/>

 
 <!-- Services Section-->
  <div class="container mx-auto px-4 pb-20 grid grid-cols-1 lg:grid-cols-2 gap-8">
  <!-- Column 1 -->
  <div class="space-y-8">
    <!-- Section 1 -->
    <div class="flex items-center space-x-6">
      <figure class="flex-shrink-0">
        <a href="https://theprinthq.com.au/dtg-printing-sydney/">
          <img
            src="https://theprinthq.com.au/wp-content/uploads/2021/03/tshirt.png"
            alt="DTG Direct To Garment Printing Sydney | The Print HQ"
            class="w-24 h-24 rounded-md"
          />
        </a>
      </figure>
      <div>
        <h3 class="text-lg font-bold text-white hover:text-gray-400 transition-colors">
          <a href="https://theprinthq.com.au/dtg-printing-sydney/">DTG - Direct To Garment</a>
        </h3>
        <p class="text-gray-600">
          Perfect for promotional companies, fashion events, and clothing labels. DTG allows printing vibrant images onto garments with a smooth, light feel.
        </p>
      </div>
    </div>
    <!-- Section 2 -->
    <div class="flex items-center space-x-6">
      <figure class="flex-shrink-0">
        <a href="https://theprinthq.com.au/embroidery-services/">
          <img
            src="https://theprinthq.com.au/wp-content/uploads/2021/03/embroidery.png"
            alt="Embroidery Sydney | The Print HQ"
            class="w-24 h-24 rounded-md"
          />
        </a>
      </figure>
      <div>
        <h3 class="text-lg font-bold text-white hover:text-gray-400 transition-colors">
          <a href="https://theprinthq.com.au/embroidery-services/">Embroidery</a>
        </h3>
        <p class="text-gray-600">
          High-quality digital embroidery for polo shirts, jackets, caps, workwear, and business shirts. Perfect for personalization and prestige.
        </p>
      </div>
    </div>
    <!-- Section 3 -->
    <div class="flex items-center space-x-6">
      <figure class="flex-shrink-0">
        <a href="https://theprinthq.com.au/blank-apparel/">
          <img
            src="https://theprinthq.com.au/wp-content/uploads/2021/03/cap.png"
            alt="Blank Apparel Supplier Sydney | The Print HQ"
            class="w-24 h-24 rounded-md"
          />
        </a>
      </figure>
      <div>
        <h3 class="text-lg font-bold text-white hover:text-gray-400 transition-colors">
          <a href="https://theprinthq.com.au/blank-apparel/">Blank Apparel</a>
        </h3>
        <p class="text-gray-600">
          Access high-quality blank apparel for printing or embroidery. We partner with the best wholesale brands, offering styles for every need.
        </p>
      </div>
    </div>
  </div>

  <!-- Column 2 -->
  <div class="space-y-8">
    <!-- Section 4 -->
    <div class="flex items-center space-x-6">
      <figure class="flex-shrink-0">
        <a href="https://theprinthq.com.au/dtf-printing/">
          <img
            src="https://theprinthq.com.au/wp-content/uploads/2021/03/t-shirt.png"
            alt="DTF Printing Sydney - The Print HQ"
            class="w-24 h-24 rounded-md"
          />
        </a>
      </figure>
      <div>
        <h3 class="text-lg font-bold text-white hover:text-gray-400 transition-colors">
          <a href="https://theprinthq.com.au/dtf-printing/">DTF - Direct To Film</a>
        </h3>
        <p class="text-gray-600">
          High-quality, durable prints for fabrics using DTF. Vibrant, full-color designs perfect for custom apparel and promotional items.
        </p>
      </div>
    </div>
    <!-- Section 5 -->
    <div class="flex items-center space-x-6">
      <figure class="flex-shrink-0">
        <a href="https://theprinthq.com.au/vinyl-heat-transfers/">
          <img
            src="https://theprinthq.com.au/wp-content/uploads/2021/03/jersey.png"
            alt="Vinyl T-shirt Printing Sydney | The Print HQ"
            class="w-24 h-24 rounded-md"
          />
        </a>
      </figure>
      <div>
        <h3 class="text-lg font-bold text-white hover:text-gray-400 transition-colors">
          <a href="https://theprinthq.com.au/vinyl-heat-transfers/">Vinyl Transfers</a>
        </h3>
        <p class="text-gray-600">
          Perfect for custom logos, team player names, numbers, or swimwear. Heat transfers ensure durable and high-quality applications.
        </p>
      </div>
    </div>
    <!-- Section 6 -->
    <div class="flex items-center space-x-6">
      <figure class="flex-shrink-0">
        <a href="https://theprinthq.com.au/screen-printing-sydney/">
          <img
            src="https://theprinthq.com.au/wp-content/uploads/2021/03/printing.png"
            alt="Screen Printing Sydney | The Print HQ"
            class="w-24 h-24 rounded-md"
          />
        </a>
      </figure>
      <div>
        <h3 class="text-lg font-bold text-white hover:text-gray-400 transition-colors">
          <a href="https://theprinthq.com.au/screen-printing-sydney/">Screen Printing</a>
        </h3>
        <p class="text-gray-600">
          Cost-effective printing for orders over 25 garments. Experts in color matching and quality to ensure excellent results every time.
        </p>
    
      </div>
    </div>
  </div>
</div>

<!-- End Services Section -->
<h3 style="color:#ffffff; align:center !important; font-size:5em;">Our Work</h3>
 <Gallery3 client:load />
<br><br><br><br><br><br>
<div class="relative h-screen bg-fixed bg-cover bg-center" style="background-image: url('/live-embroidery-events-los-angeles-and-nearby-areas.webp');">
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black"></div>
  
  <!-- Content Section with Blurred Background -->
  <div class="absolute inset-0 flex justify-center items-center">
    <div class="bg-black bg-opacity-50 backdrop-blur-md rounded-lg text-center p-8 max-w-lg text-white">
      <h1 class="text-5xl font-extrabold mb-6">ONSITE
EMBROIDERY EVENTS</h1>
      <p class="text-lg mb-6">
      We help you create fantastic events by bringing our team and machines to your venue. On-site embroidery stitching is an unforgettable, unique, and interactive experience that will help your customers remember your brand through their personalized gift for years to come.
      </p>
      <a href="#" class="px-6 py-3 bg-blue-500 rounded-md hover:bg-blue-600">Take Action</a>
    </div>
  </div>
</div>

  <!-- <div class="tiledBackground5">
        <div id="price-list"></div>
        <div class="maintext problems">
            <div class="problems-item">
            <h2>Onsite Embroydery </h2> 
                <p>Personalized giveaways are a great way to brand your name and market your product. Personalize your guest requests with their name or monogram!
For serious inquiries, use the form for a FREE quote.</p>
            </div>
            <div class="problems-item">
                <ul>
                <li>Embroidery on-site, for ANY size event: brand activations, trade show, corporate event, festival, party.</li>
<li>Personalized request for each guest of what they want to be embroidered on their gift/ garment (usually their name)</li>
<li>We can provide gifts for you from a huge selection ranging from tote-bags and towels to hats and shirts.</li>
<li>Embroidery speed per request is as fast as 30 seconds</li></ul>

            </div>
        </div>-->


        

  


  <Footer />
  <ScrollUpButton client:load />
</Layout>
