---
import Layout from '../layouts/Layout.astro'
import { Slider } from '../components/Slider.jsx'
import LogosGlobe from '../components/LogosGlobe.astro'
import { Hero } from '../components/Hero.jsx'
import { Navbar } from '../components/Navbar.jsx'
import { Features1 } from '../components/Features1.jsx'
import { Features2 } from '../components/Features2.jsx'
import { Testimonials } from '../components/Testimonials.jsx'
import { FeaturesDiagonal } from '../components/FeaturesDiagonal.jsx'
import { Pricing } from '../components/Pricing.jsx'
import { FAQ } from '../components/FAQ.jsx'
import { Brands } from '../components/Brands.jsx'
import { Logos } from '../components/Logos.jsx'
import { Blog } from '../components/Blog'

import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton'
import '../styles/Theme.css'
import '../styles/Diagonals.css'

---

<Layout title="Tailcast">
  <Navbar client:load />
  <div style="hight:100px; width:100%; background-color:black;"></div>
  <Slider client:load />
  <Hero client:load />
  <Logos client:load /> 
  <LogosGlobe />
  <Features1 client:load />
  <Features2 client:load />
  <FeaturesDiagonal client:load />
  <Pricing client:load />
  <Brands client:load />
  <Testimonials client:load />
  <Blog client:load />
  <FAQ client:load /> 


  <Footer />
  <ScrollUpButton client:load />
</Layout>
