---
import Layout from '../layouts/Layout.astro'
import { StitchingAnimation } from '../components/StitchingAnimation.jsx'
import { Navbar } from '../components/Navbar.jsx'
import { Logos } from '../components/Logos.jsx'
import { Testimonials } from '../components/Testimonials.jsx'
import { ServicesSection } from '../components/Services.jsx'
import { Gallery3 } from '../components/Gallery3.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="Tailcast">
  <Navbar client:load />
  <StitchingAnimation client:load />
    <Logos client:load /> 
     <h1>LA's One Stop Shop For All Your Customized Apparel Needs For 30+ Years</h1>

<Gallery3 client:load/>
<h2>Services</h2>
<ServicesSection client:load/>
  <hr style="border: 0.5px solid #ccc; width: 80%; margin: 40px auto;">
<div class="relative h-screen bg-fixed bg-cover bg-center" style="background-image: url('/live-embroidery-events-los-angeles-and-nearby-areas.webp');">
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black"></div>
  <!-- Content Section with Blurred Background -->
  <div class="absolute inset-0 flex justify-center items-center">
    <div class="bg-black bg-opacity-50 backdrop-blur-md rounded-lg text-center p-8 max-w-lg text-white">
      <h1 class="text-5xl font-extrabold mb-6">ONSITE
EMBROIDERY EVENTS</h1>
      <p class="text-lg mb-6">
      We help you create fantastic events by bringing our team and machines to your venue. On-site embroidery stitching is an unforgettable, unique, and interactive experience that will help your customers remember your brand through their personalized gift for years to come.
      </p>
      <a href="#" class="px-6 py-3 bg-red-800 rounded-md hover:bg-red-600">Get a Quote</a>
    </div>
  </div>
</div>
<hr style="border: 0.5px solid #ccc; width: 80%; margin: 40px auto;">
  <Footer />
  <ScrollUpButton client:load />
</Layout>
